#dnbsettingsform-archiveAccess-control {
    display: none;
}

.fa-question-circle {
    color: blue;
}

.submissionsListPanel {
    margin-top: 15px;
}

.dnb_legend_tooltip {
    display:none;
}

.dnb_align_right {
    margin-left: auto;
}

.dnb_authors {
    font-weight: bold;
}

.dnb_form {
    margin-bottom: 15px;
}

.dnb_not_deposited {
    background-color: #D00A6C;
    border-color: #D00A6C;
    color: white;
    padding-left: 0.5rem;
}

.dnb_deposited {
    background-color: #00b28d;
    border-color: #00b28d;
    color: white;
    padding-left: 0.5rem;
}

.dnb_info_center {
	right: 7rem;
    display: flex;
    background: none;
}

.dnb_info_tab {
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #D00A6C;
    background: #fff;
    margin-left: 3px;
}